<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="OutPut_x64_Release\Bin_x64" />
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="log4net" culture="neutral" publicKeyToken="669e0ddf0bb1aa2a" Retargetable="Yes"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.14.0" newVersion="2.0.14.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<appSettings>
		<!--API地址-->
		<add key="BaseUrl" value="http://101.33.246.96:5000/v1/"/>
		<!--多个目录使用分号或逗号分隔，可以使用相对路径也可以使用绝对路径-->
		<add key="PluginDirectorys" value="Plugins"/>
		<!--多个程序集使用分号或逗号分隔，可以使用相对路径也可以使用绝对路径-->
		<add key="PluginAssemblys" value="Hjmos.Lcdp.VisualEditor.MainModule.dll;C:\Users\EM\Documents\EM\Project\HJMos_NCC_Client\Work\Hjmos.Ncc.EmergencyCommandV1.dll" />
	</appSettings>
</configuration>
